@charset "utf-8";
html,
body {
	height: 100%;
	overflow: hidden;
	/*overflow-x: hidden;*/
	/* overflow-y: hidden; */
}
#container,
.sections,
.section {
	height: 100%;
}
#container {
	position: relative;
}
.sections {
	width: 400%;
	position: absolute;
	left: 0;/*test*/
	transition: left 0.5s;
}
.section {
	width: 25%;
	float: left;
}
.section h3 {
	font-size: 30px;
	text-align: center;
	margin-top: 100px;
	color: #fff;
}
.section1 {
	height: 680px;
	background: -webkit-linear-gradient(top,#34495e 0%, #ffffff 100%);
	background: -o-linear-gradient(top,#34495e 0%, #ffffff 100%);
	background: linear-gradient(top,#34495e 0%, #ffffff 100%);
}
.section2 {
	padding-bottom: 50px;
	background: -webkit-linear-gradient(bottom,#444 0%, #ffffff 100%);
	background: -o-linear-gradient(bottom,#444 0%, #ffffff 100%);
	background: linear-gradient(bottom,#444 0%, #ffffff 100%);
}
.section3 {
	background: -webkit-linear-gradient(left,#34495a 0%, #ffffff 100%);
	background: -o-linear-gradient(left,#34495a 0%, #ffffff 100%);
	background: linear-gradient(left,#34495a 0%, #ffffff 100%);
}
.section4 {
	background: -webkit-linear-gradient(top,#555 0%, #ffffff 100%);
	background: -o-linear-gradient(top,#555 0%, #ffffff 100%);
	background: linear-gradient(top,#555 0%, #ffffff 100%);
}

.footer{
	position: fixed;
	width: 100%;
	height: 9vh;
	bottom: -9vh;
	background-color: #34495e;
	transition: bottom 0.5s;
}
.footer li {
	width: 25%;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 9vh;
	color: #fff;
	cursor: pointer;
}
.footer li:hover,
.side ul li:hover,
.footer li.active,
.side ul li.active {
	background-color: #e74c3c;
	font-weight: bold;
	transition: background-color 1s,font-weight 1s;
}

/*nav-side*/
.nav-side {
	position: fixed;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	background-color: #e74c3c;
	color: #fff;
	cursor: pointer;
	z-index: 2;
}
.nav-left {
	top: 5vh;
	left: 0;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
.nav-bottom {
	top: 5vh;
	right: 0;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.nav-side:hover {
	background-color: #E74C6C;
}

.side {
	position: fixed;
	width: 200px;
	top: 0;
	bottom: 0;
	background-color: #34495e;
	z-index: 3;
	left: -200px;
	transition: left 0.6s;
}
.side ul {
	padding-top: 8vh;
}
.side ul li {
	padding-left: 30px;
	line-height: 10vh;
	color: #fff;
	cursor: pointer;
	background-color: #07314B;
	margin-bottom: 1px;
}
.box {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: 2;
	display: none;
}
/*translate*/
.wrap-tra {
	max-width: 640px;
	/*width: 100%;*/
	margin: 6vh auto;
}
.wrap-tra .form {
	width: 80%;
	height: 45px;
	margin: 0 auto;
	border-bottom: 1px solid #959595;
}
.wrap-tra input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: #ccc;
	height: 45px;
	display: block;
	float: left;
}
.wrap-tra input[type="text"] {
	width: 73%;
	padding: 0 2%;
	background-color: #fff;
}
.wrap-tra .btn {
	width: 23%;
	background-color: #3385ff;
	color: #fff;
	border-left: 1px solid #ccc;
	font-family: "Microsoft YaHei";
	font-size: 15px;
	cursor: pointer;
}
/*翻译结果*/
.tra-result {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	display: none;
}
.list {
	width: 100%;
	margin: 0 auto;
}
.list p {
	display: block;
	width: 100%;
    border-bottom: 1px solid #989898;
	padding: 1.5vh 0;
	text-indent: 0.5em;
	line-height: 1.5;
	overflow: hidden;
}
.explains {
	background-color: #000;
	opacity: 0.7;
}
.explains p {
	color: #fff;
	border: none;
}

/*豆瓣图书*/
.content {
	width: 100%;
}
.book {
	width: 320px;
	height: 35vh;
	margin: 30px auto;
}
.book .book-left {
	width: 150px;
	float: left;
}
.book .book-left img {
	width: 150px;
	/*height: 50vh;*/
}
.book-right {
	width: 160px;
	float: right;
}
.book-right h2 {
	font-weight: bold;
}
.book-right .list li {
	padding-top: 13px;
	font-size: 13px;
	color: #666;
}
.book-right .list li span {
	color: #363636;
}
.content-disc {
	width: 80%;
	margin: 0 auto;
}
.content-disc h4 {
	color: #007722;
}
.content-disc .disc {
	padding-top: 20px;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
}
